{% extends 'base.html' %}

{% block content %}
<body>

<div style="float:left;border-left">
    <form action="{% url 'groups' %}" method="get">
        <input name="name">
        <input name="submit" type="submit">
    </form>
</div>
<div>
    <form action="{% url 'groups-add' %}">
        <input type="submit" value="Add group" />
    </form>
</div>
<br>

<table style="width:70%">
    <caption style="font-size:35px"><b>{{ page_title }}</b></caption>
    <tr>
        <th>ID</th>
        <th>Group Name</th>
        <th>Students Count</th>
        <th>Students with grants</th>
        <th>Group leader name</th>
        <th>Start Lessons Time</th>
        <th>Headman</th>
        <th>Edit Link</th>
    </tr>
    {% for group in groups %}
        <tr>
            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.students_count }}</td>
            <td>{{ group.students_with_grants_count }}</td>
            <td>{{ group.group_leader_name.first_name }}</td>
            <td>{{ group.start_lessons_time }}</td>
            <td>{{ group.headman.first_name }}</td>
            <td><a href="{% url 'groups-edit' group.id %}">Edit</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}