{% extends 'base.html' %}

{% block content %}
<div style="float:left;border-left">
    <form action="{% url 'students' %}" method="get">
        <input name="name">
        <input name="submit" type="submit">
    </form>
</div>
<div>
    <form action="{% url 'students-add' %}">
        <input type="submit" value="Add student" />
    </form>
</div>
<br>

<table style="width:70%">
    <caption style="font-size:35px"><b>{{ page_title }}</b></caption>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Address</th>
        <th>Group</th>
        <th>Email Confirmed</th>
        <th>User Logged In</th>
        <th>User Platform</th>
        <th>Edit Link</th>
    </tr>
    {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.birth_date }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.telephone }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.group.name }}</td>
            <td>{{ student.email_confirmed }}</td>
            <td>{{ student.user_logged_in }}</td>
            <td>{{ student.user_platform }}</td>
            <td><a href="{% url 'students-edit' student.id %}">Edit</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}